.App {
  text-align: center;
  background: #c0c0aa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.header{
  background:rgba(255,255,255,0.2);
  border-bottom:1px solid white;
  height: 2.5rem;
  display:flex;
  align-items: center;
  padding: 0 12px;
  font-size:1.5rem;
  color:black;
  font-weight: bold;
}
.logo{
  height:1.8rem;
  width:1.8rem;
  margin-right:10px;
  background: url(https://static.thenounproject.com/png/206480-200.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.text-input{
  background:rgba(255,255,255,0.2);
  border-top:1px solid white;
  height: 4rem;
  position:relative; /*must add position relative to parent if want to change child*/
  display:flex;
  align-items:center;
  justify-content:center;
}

.button{
  position: absolute;
  right:1.5rem;
  top:1.2rem;
  height:1.6rem;
  width:1.6rem;
  background: white;
  border-radius: 100%;
  border: 1px white;
  cursor:pointer;
  outline:none;
  font-size:1rem;
  color: black;
}

.input{
  background:black;
  border: 1px solid white;
  border-radius: 10rem;
  height: 2rem;
  width: 70%;
  outline:none;
  width: calc(100% - 3rem);
  padding-left: 10px;
  color: white;
}


.message{
  margin: 1rem;
  background:white;
	border-radius: 10rem 10rem 0 10rem;
  height:1rem;
  padding:.5rem 1rem;
  display:flex;
  justify-content: flex-end;
  align-self:flex-end;
}

.messages{
  display:flex;
  flex-direction:column;
  flex: 1;
  justify-content: flex-end;
  margin:1px;
}

.previous-text{
  margin: 1rem;
  background:rgba(112, 112, 112, 0.329);
	border-radius: 10rem 10rem 10rem 0;
  height:1rem;
  padding:.5rem 1rem;
  display: flex;
  align-self: flex-start;
  justify-content:flex-start; 
}